* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  header {
    background: #2b3844;
    display: flex;
    justify-content: space-between;
    padding: 0 81px;
    height: 80px;
    align-items: center;
    color: white;
  }
  
  .header-btn {
    background: none;
    border: 1px solid white;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
  }
  .header-btn:active {
    transform: scale(0.9);
    opacity: 0.5;
    color: rgb(254, 229, 4);
  }
  
  .logo {
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 800;
    line-height: 32.74px;
    text-align: left;
  }
  
  main{
    background-color: #202C36;
    min-height: 70vh;
    padding: 49px 81px;
  }
  .search_input{
    background-color: #2B3844;
    color: white;
    width: 480px;
    height: 56px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .qator1{
display: flex;
flex-wrap: wrap;
  }
  .qator2{
display: flex;
flex-wrap: wrap;
  }
  .bayroq{
    width: 254px;
height: 366px;
margin-right: 60px;
  }
  @media (max-width:758px){
    header{
        padding: 0 20px;
    }
    .logo{
        font-size: 20px;
    }
    .header-btn {
        padding: 5px 12px;
    }
    .search_input{
      width: 80%;
    }
    main{
      padding: 32px 18px;
    }

}
  @media (max-width:576px){
      header{
          padding: 0 16px;
      }
      .logo{
          font-size: 18px;
      }
      .header-btn {
          padding: 3px 10px;
      }
      .search_input{
        width: 90%;
      }
      main{
        padding: 30px 16px;
      }
      .bayroq{
        width: 294px;
    height: 416px;
    margin-right: 80px;
      }
  }
  @media (max-width:295px){
    .bayroq{
width: 80%;
height: 216px;
    }
  }